div.algorithm {
	border: thin green solid;
	margin: 1.5em;
	padding: 0.5em;
	width: 900px;
}
div.algorithm p {
	text-align: center;
	font-weight:bolder;
	font-size: smaller;
	text-indent: 0;
}

div.questions{
	border: thin green solid;
	margin: 1.5em;
	padding: 0.5em;
	text-align: left;
}

div.command {
	border: thin green solid;
	margin: 1.5em;
	padding: 0.5em;
	text-align: left;
	font-weight:bolder;
	font-size: smaller;
  }


figure{
	border: thin solid green;
	margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;

}

figcaption {
	text-align: center;
	font-weight:bolder;
	font-size: smaller;
  }

caption {
	text-align: center;
	font-weight:bolder;
	font-size: smaller;
  }

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-s6z2{text-align:center}
.tg .tg-bghc{font-weight:bold;background-color:#32cb00;text-align:center}
.tg .tg-hgcj{font-weight:bold;text-align:center}
.tg .tg-oxci{font-weight:bold;background-color:#32cb00}
</style>